<section class="top-list {{type}}">
    {{#with ctx}}
    <div>
        <h2>top {{../type}}</h2>
        <span>{{time_range}}</span>
    </div>
    <ol>
        {{#each names}} 
            <li>
                {{#if ../urls}}<a href="{{lookup ../urls @index}}" target="_blank">{{/if}}
                    {{this}} 
                    {{#if ../paired}}<span>{{lookup ../paired @index}}</span>{{/if}}
                {{#if ../urls}}</a>{{/if}}
            </li>
        {{/each}}
    </ol>
    {{/with}}
</section>
