<section>
    <div id="trackname" class="marquee">
        <div class="marquee-text">
            <div>{{{ trackname }}}</div>
            <div>{{{ trackname }}}</div>
        </div>
    </div>
    <div class="heading">
        <h1>{{display_name}}</h1><span>:{{username}}</span>
        <a href="https://open.spotify.com/" target="_blank">
            <img id="logo" src="public/assets/Spotify_Logo_RGB_White.png" alt="spotify logo" />
        </a>
    </div>
    <section class="curr-lists">
        <h2>your current tops</h2>
        <div>
            {{> top-list type='artists' top=artists }}
            {{> top-list type='tracks' top=tracks }}
            {{> top-list type='genres' top=genres }}
        </div>
    </section>
    <section id="#chart">
        <h2>chart</h2>
        {{> chart-form ctx=form }}
        <section class="chartarea">
            {{{chart}}}
        </section>
    </section>
</section>
<script> 
    let scroll_point = "{{scroll_to}}"; 
    if (scroll_point != undefined && scroll_point != '') {
        document.getElementById(scroll_point).scrollIntoView(true);
    }
</script>
<script>
    function swap_time_range(e) {
        let t = e.value;
        let k = e.parentElement.parentElement.className.split(' ').find(c => !c.includes('top'));
        let o = document.querySelectorAll(`.${k} > .top-list:not(.${t})`);
        let f = document.querySelectorAll(`.${k} > .top-head button`);
        o.forEach(p => p.classList.remove('selected-tr'));
        f.forEach(g => g.classList.remove('selected-tr-btn'));
        e.classList.add('selected-tr-btn');
        let l = document.querySelector(`.${k} .${t}`);
        l.classList.add('selected-tr');
    }
</script>
